@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.screenSwiper.swiper {
  height: calc(100vh - 200px);
}
@layer components {
  body {
    @apply
    bg-greyMedium
  }
  .nav-item {
    @apply
    font-bold uppercase
  }
  .nav-link {
    @apply 
    p-4 m-4
    text-base
    block
    duration-300
    hover:text-white hover:bg-black hover:scale-[1.2]
  }
}